.company-header {
    display: inline;
    margin-left: 94px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        color: $brand-orange;
    }
}
.job-summary {
    background-color: rgb(249, 249, 249);
    padding: 16px;
    border-radius: 8px;
    margin-top: 14px;
}
.post-action {
    display: inline;
    font-size: 14px;
    margin-left: 94px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        color: $brand;
    }
}
.save-icon {
    position: absolute;
    right: 20px;
    margin-top: -5px;
    cursor: pointer;
  
	&:hover {
        .star polygon {
            fill: #ffd055;
        }
    }
}
.star {
    polygon {
        fill: #d8d8d8;
    }
}
.header-active {
    color: $brand;
}
.header-inactive {
    color: #777777;
}