.bl-label-14 {
  font-size: 14px;
  font-weight: 200;
  color: #6b7172;
}
.bl-label-14-style-2 {
  font-size: 14px;
  letter-spacing: -0.2px;
  color: #000000;
}
.bl-label-14-style-3 {
  font-size: 14px;
  font-weight: bold;
  color: #6b7172;

  .text-style-1 {
    color: #6b7172;
    font-weight: normal;
    margin-left: 8px;
    display: inline;
  }
}
.bl-label-15 {
  font-size: 15px;
  color: #393939;
  line-height: normal;
  margin-top: 0.5rem;
  padding-top: 0.25rem;

  .text-style-1 {
    color: #6b7172;
    display: inline;
  }
}
.bl-label-15-style-2 {
  font-size: 15px;
  line-height: 1.33;
  letter-spacing: -0.2px;
  color: #2f2f2f;
}
.bl-label-21 {
  font-size: 21px;
  font-weight: 500;
  color: #000000;
  margin-top: -6px;
}
.bl-label-19 {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  margin-top: -3px;
}
.bl-label-16 {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.bl-label-16-style-2 {
  font-size: 16px;
  color: #252829;
  margin-top: 20px;
}
.bl-ellipsis {
  height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.bl-label-17 {
  font-size: 17px;
  color: #484c4e;
  text-align: center;
  
  .text-style-1 {
    font-weight: 300;
    color: #6b7172;
    display: inline;
  }
}
.bl-label-17-center {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.1px;
  text-align: center;
  color: $brand;
  margin: 20px 0 40px 0;
}
.bl-label-20 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.5px;
  text-align: center;
  color: #435256;
}
.bl-label-22 {
  font-size: 22px;
  font-weight: 500;
  color: #252829;
  text-align: center;
}
.bl-label-48 {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-align: center;
  color: #000000;
}