// User Profile
.profile-content {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 1px 0 rgba(33, 49, 60, 0.18), 0 3px 4px 0 rgba(38, 52, 64, 0.09);
  min-width: 0;
  word-wrap: break-word;
}
.profile-content h5 {
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
}
.profile-content h5 a {
  color: #2a3f52;
}
.profile-content h5 a:hover {
  color: #e84c3d;
}
.profile-content span {
  display: block;
}
.profile-more {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.2px;
  text-align: right;
  color: #f89f41;
}
.profile-thumb img {
  width: 100%;
  height: 100%;
}
.profile-item-1 {
  margin-bottom: 20px;
  float: left;
  position:relative;
}
.profile-item-1 .profile-content {
  border-top: 0;
  padding: 15px 22px 24px 22px;
}
.profile-item-1 .profile-thumb {
  overflow: hidden;
}
.profile-item-2 {
  margin-bottom: 20px;
  position: relative;
}
.profile-item-2 .profile-thumb {
  width: 100%;
}
.profile-item-2 .profile-thumb img {
  width: 100%;
  height: 100%;
}
.profile-item-2 .profile-content {
  padding: 15px 24px 24px 24px;
  overflow: hidden;
}
.profile-item-3 {
  margin-bottom: 20px;
}
.profile-item-3 .profile-thumb {
  overflow: hidden;
}
.profile-item-3 .profile-thumb img {
  width: 100%;
}
.profile-item-3 .profile-content {
  border-top: 0;
  padding: 16px;
}
.profile-item-3 .profile-content {
  .row {
    .job-logo {
      width: 32px;
      height: 32px;
      border-radius: 4px;
    }
  }
  img {
    width: 32px;
    height: 32px;
  }
  ul {
    padding: 27px 0 0;
    li {
      list-style-type: none;
      border-bottom: 1px solid rgb(156, 173, 189, 0.5);
      padding: 13px 0px 13px 0px;

      .job-logo {
        width: 32px;
        height: 32px;
        border-radius: 4px;
      }

      .job-text {
        font-size: 12px;
        color: #6b7172;
      }
    }
  }
}
.profile-item-3 .profile-content .profile-label {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.4px;
  color: #383d3f;
}
.profile-item-3 label {
  width: 60px;
  font-weight: normal;
}
.profile-item-3 select, .profile-item-3 option {
  color: #a3a7aa;
  border: 1px solid #c4c4c4;
}
.profile-item-3 select:focus, .profile-item-3 option:focus {
  outline: 0;
}
.profile-image {
  overflow: hidden;
}
.profile-image img {
  width: 100%;
}
.profile-header {
  height: 147px;
  opacity: 0.22;
  background-image: linear-gradient(38deg, #ffb600, #ff7705);
  padding-top: 20px;
}
.profile-picture {
  width: 110px;
  height: 110px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.profile-name {
  font-size: 22px;
  font-weight: 500;
  color: #252829;
  text-align: center;
}
.profile-display {
  display: inline-block;
}
.profile-role {
  font-size: 17px;
  color: #484c4e;
  text-align: center;
  
  .text-style-1 {
    font-weight: 300;
    color: #6b7172;
  }
}
.profile-address {
  font-size: 15px;
  color: #000000;
  margin: 25px 0px 11px;
}
.profile-education {
  font-size: 15px;
  color: #000000;
  float: left;
  margin-bottom: 24px;

  .text-style-1 {
    color: #6b7172;
  }
}
.profile-experience {
  font-size: 15px;
  line-height: 1.33;
  letter-spacing: -0.2px;
  color: #2f2f2f;
  margin-bottom: 20px;
}
.profile-role-image {
  width: 56px;
  height: 56px;
  border-radius: 8px;
  box-shadow: 0 0 0.5px 0 rgba(0, 0, 0, 0.08), 0 0 10px 0 rgba(57, 86, 101, 0.08);
  background-color: #fcfeff;
}
.profile-role-header {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 15px;
}
.profile-role-name {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.profile-title {
  font-size: 17px;
  color: #252829;
}
.profile-label {
  font-size: 15px;
  color: #393939;
  line-height: normal;
  margin-top: 0.5rem;
  padding-top: 0.25rem;

  ul.list-items {
    list-style-type: circle;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 12px;
    }
  }
}
.employment-label {
  font-size: 14px;
  letter-spacing: -0.2px;
  color: #000000;
  margin-bottom: 13px;
}
.profile-text {
  font-size: 14px;
  font-weight: 200;
  color: #6b7172;
}