
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Profile
@import 'profile';

// Font Family
@import url('https://rsms.me/inter/inter.css');

html { 
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html { 
    font-family: 'Inter var', sans-serif; 
  }
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

button {
  border: none;
  background: $brand;
  color: #fff;

  &:hover {
    color: #000;
  }
}

/* ==========================================================================
  Helper classes
  ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
    Forms
  ========================================================================== */
form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="password"] {
  background: #fff;
  border: 1px solid #fff;
  padding: 7px 10px;
}
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="password"]:focus {
  outline: none !important;
}
form .button {
  background: #fff;
  border: 1px solid #fff;
  padding: 7px 20px;
  text-transform: uppercase;
}
form .button:focus, form .button:active {
  outline: none !important;
}
form .button.yellow {
  background: #e7af2a;
  color: #fff;
  border: 1px solid #c89316;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
/* ==========================================================================
  Print styles
  ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* ==========================================================================
    Structure & Defaults
  ========================================================================== */
html, body {
  font-size: 100%;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: baseline;
}

body {
  // font: 13px/21px "Inter", Arial, sans-serif;
  color: #777777;
  background-color: #F9F9F9;
  overflow-x: hidden;
  font-style: normal;
}

a {
  color: $brand;
  text-decoration: none !important;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
a:hover {
  color: #e84c3d;
}

h1, h2, h3, h4, h5, h6 {
  // font-family: "Inter", Arial, sans-serif;
  color: #2a3f52;
  font-weight: 700;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: .8em;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ==========================================================================
    Header Site Styling
  ========================================================================== */
.site-header .main-nav .container {
  a {
    &:hover {
      color: #000;
    }
  }
}
.main-header {
  padding: 35px 0;
}
.main-header .logo h1 {
  margin: 4px 0 0 0;
  font-size: 3em;
  text-transform: uppercase;
}
.main-header .main-menu {
  text-align: right;
  height: 54px;
  position: relative;
}
.main-header .main-menu ul.menu {
  margin-right: -7px;
  position: absolute;
  right: 47px;
  z-index: 6;
  background-color: $brand;
  padding: 0 20px;
  height: 54px;
  line-height: 54px;
  display: none;
  float: right;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
.main-header .main-menu ul.menu li {
  display: inline-block;
}
.main-header .main-menu ul.menu li a {
  color: white;
  text-transform: none;
  margin: 0 15px;
  font-size: 16px;
}
.main-header .main-menu ul.menu li a:hover {
  color: #bfddf0;
}
.main-header .main-menu a.toggle-menu {
  float: right;
  width: 54px;
  height: 54px;
  display: block;
  text-align: center;
  line-height: 54px;
  background-color: $brand;
  color: white;
  font-size: 24px;
  position: absolute;
  right: 0;
  z-index: 7;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.main-nav {
  background-color: $brand;
  color: white;
  height: 52px;
}
.main-nav a {
  color: white;
}
.main-nav .list-menu ul li {
  display: inline-block;
}
.main-nav .list-menu ul li a {
  font-size: 16px;
  font-weight: 700;
}
.main-nav .notification {
  text-align: right;
}

/* ==========================================================================
    Default Styling
  ========================================================================== */
.content-section {
  margin: 50px 0;
  min-height: 70vh;
}
.section-title h2 {
  margin-top: 0;
  margin-bottom: 50px;
}
.main-btn {
  display: inline-block;
  background-color: $brand;
  color: white;
  font-size: 16px;
  font-weight: 600;
  width: 160px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
.main-btn:hover {
  background-color: #e84c3d;
  color: white;
}

form input[type="text"], 
form input[type="email"], 
form input[type="number"], 
form input[type="password"],
textarea {
  background: #fff;
  border: 1px solid #ddd;
  padding: 12px 15px;
}

#contactform textarea,
#contactform input {
  width: 100%;
}

#contactform textarea {
  min-height: 140px;
}

#contactform input.mainBtn {
  border: 0;
  outline: 0;
  padding: 12px;
  color: #fff;
  background: $brand;
}

/* ==========================================================================
    Footer Site Styling
  ========================================================================== */
.site-footer {
  color: white;
  font-size: 13px;
}
.site-footer a {
  color: white;
}
.site-footer a:hover {
  color: #bfddf0;
}
.site-footer h3.widget-title {
  font-weight: 600;
  color: white;
  margin: 0 0 30px 0;
  font-size: 1.4em;
}
.bottom-footer {
  background-color: $brand;
  padding: 20px 0;
  font-size: 12px;
}
.bottom-footer span {
  display: block;
  margin-bottom: 10px;
}
.bottom-footer p {
  width: 70%;
  margin: 0 auto;
}

/*------------------------------------------------------
  RESPONSIVE STYLES 
--------------------------------------------------------*/
@media (max-width: 991px) {
  ul.menu {
    text-align: left;
    background-color: $brand !important;
    width: 100%;
    height: auto !important;
    background-color: red;
    right: 60px !important;
  }
  ul.menu li {
    float: none;
    display: block !important;
  }

  .toggle-menu {
    background-color: $brand !important;
  }

  .profile-content select {
    width: 100%;
  }

  .profile-item-1, .profile-item-2, .profile-item-3 {
    width: 100%;
  }
  .profile-item-2 .profile-thumb, .profile-item-3 .profile-thumb {
    height: auto;
  }

  .profile-item-3 {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .top-header {
    border-bottom: 0;
  }

  ul.menu {
    min-width: 320px !important;
  }

  .top-header-left {
    border-bottom: 1px solid #dddddd;
  }

  .main-nav {
    height: 100%;
  }

  .main-nav .list-menu {
    border-bottom: 1px solid #3598db;
  }

  .main-nav .notification {
    padding: 20px 0;
    text-align: left;
  }

  .profile-content select {
    width: 40%;
  }

  .profile-item-2, .profile-item-4 {
    width: 100%;
  }
  .profile-item-4 {
    margin-bottom: 30px;
  }
  .profile-item-4 .profile-content p {
    display: none;
  }
}
@media (max-width: 581px) {
  ul.menu {
    min-width: 220px !important;
  }

  .main-nav .list-menu ul li {
    padding: 20px 15px;
  }
  .main-nav .list-menu ul li a {
    font-size: 14px;
  }

  .profile-content select {
    width: 100%;
  }

  .profile-item-2 .profile-content p {
    display: none;
  }
}



/* ==========================================================================
    Navigation Bar Styling
  ========================================================================== */
.site-nav-brand {
  width: 52px;
  height: 21px;
  object-fit: contain;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.site-nav-search {
  width: 100%;
  height: 32px;
  border-radius: 4px;
  background-color: #ffffff;
  position: relative;
  top: 9px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
}
.site-nav-tab {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
p.site-nav-tab-label {
  text-align: center;
  opacity: 0.5;
  font-size: 12px;
  color: #ffffff;
}

/* ==========================================================================
    Alert Banner Styling
  ========================================================================== */
.err-msg {
  color: #cc4242;
  font-weight: normal;
}
.alert-main {
  position: relative;
  padding: 0.75rem 1.25rem;
  // margin-bottom: 1rem;
}
.alert-success {
  background-color: #3c763d;
  border-color: #d6e9c6;
  color: #dff0d8;
}
.alert-error {
  background-color: #a94442;
  border-color: #ebccd1;
  color: #f2dede;
}
.alert-icon {
  width: 20px;
  margin-left: 20px;
  margin-right: 10px;
}
.alert-close {
  width: 10px;
  margin-left: 750px;
  cursor: pointer;
}
.edit-icon {
  float: right;

  img {
    width: 16px;
    height: 16px;
    object-fit: contain;

    &:hover {
      cursor: pointer;
    }
  }
}
.text-icon {
  margin-right: 6px;
  width: 10px;
  height: 15px;
  object-fit: contain;
}
.text-icon-2 {
  float: right;
  margin-right: 6px;
  margin-top: 30px;
  width: 10px;
  height: 15px;
  object-fit: contain;

  &:hover {
    cursor: pointer;
  }
}

/* ==========================================================================
    Custom Bootstrap Styling
  ========================================================================== */
.btn-primary {
  color: $brand;
  background-color: #fff;
  border-color: $brand;
}
.btn-primary:hover {
  background-color: $brand;
  border-color: $brand;
  color: #fff;
}
.btn-link {
  font-weight: 400;
  color: #7B7B7B;
  text-decoration: none;
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: $brand;
  border-color: $brand;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: $brand;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.page-link:hover {
  color: #000;
}
.text-404 {
  font-size: 200px;
  line-height: 1.7;
  color: $brand;
}
.ta-center {
  text-align: center;
}
.ta-right {
  text-align: right;
}
.ta-left {
  text-align: left;
}